/HRproject/nbproject/private/
/HRproject/build/
/EmployeeManager/nbproject/private/
/bluebirdpvtLTD/nbproject/private/
/bluebirdpvtLTD/build/
/EmployeeManagementSystem/nbproject/private/
/BusBookingSystem/nbproject/private/
/BusBookingSystem/build/
/Mongoproject/target/
